@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Find the right pool playing venue for you!</h2>

    <p>Whether you are a business owner that wants more pool players or a pool player looking for a great place to play,
       this is the site for you! Just go to the Venue button to find a list of local pool venues with relevant information.</p>


</div>
