@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This page details this site's privacy policy. This site is created and run by Michelle Roberts in
    Fisherville, Ky. Michelle can be reached at Missmic33@gmail.com.</p>

<p>What is a privacy policy?
A privacy policy is a website’s way of informing its users about how they 
ensure the protection of privacy on their domain while processing data.
Most websites use cookies and trackers that process personal data from its users.</p>

<p>What is personal data?
Personal data is any kind of information that can identify a living individual,
either directly or indirectly. Personal data includes names, e-mails, addresses,
location data, and online identifiers such as IP-addresses, unique IDs, search and
browser history.</p>

<p>The following information will be provided at a later date: 
1.What information you’re collecting from them (including names, email addresses, IP addresses, and any other information)
2.What methods you are using to collect their information, e.g. cookies
3.The purpose for collecting this information
4.How you’re keeping their information safe
5.Whether or not it’s optional for them to share that information, how they can opt-out, and the consequences of doing so
6.Any third-party services you’re using to collect, process, or store that information (such as an e-mail newsletter service, or advertising network)
</p>